@charset "UTF-8";
@import url("./components/global.css");
@import url("./components/navbar.css");
@import url("./components/Header.css");
@import url("./components/aboutMe.css");
@import url("./components/projects.css");
@import url("./components/skills.css");
@import url("./components/contact.css");
@import url("./components/scrollTopFooter.css");
@import url("./components/animations.css");
